/* styles.css */

body {
    background-color:#e5f501ce
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #af4c4c;
    color: rgb(236, 233, 12);
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: #af4c4c;
    color: white;
    padding: 0.5rem;
}

nav ul {
    background-color: #e5f501ce;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    background-color: #e5f501ce;
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    background-color:#e5f501ce;
    color: rgb(241, 226, 5);
    text-decoration: none;
}

#contenido {
    background-color:#e5f501ce
    padding: 20px;
}

footer {
    background-color:#af4c4c;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
